@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<form method='post' action='/hello/'>
<input type='text' name='name' />
<select name='language'>
    <option value='english'>english</option>
    <option value='french'>french</option>
    <option value='german'>german</option>
    <option value='spanish'>spanish</option>
    <option value='polish'>polish</option>
</select>
    <input type='submit' value='Greet Me!' />
</form>